# Module 6 Part 3

In [1]:
%matplotlib inline
%matplotlib notebook
# Import the dependencies.
import pandas as pd
import gmaps
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

WeatherVacation_df = pd.read_csv("WeatherPy_vacation.csv")
WeatherVacation_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Mataura,NZ,66.38,overcast clouds,-46.19,168.86,Ellie's Villa
1,1,Lat Yao,TH,73.20,few clouds,15.75,99.79,ห้างหุ้นส่วนจำกัด ลาดยาวการเกษตร
2,10,Busselton,AU,68.00,broken clouds,-33.65,115.33,Observatory Guest House
3,11,Laguna,US,69.01,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Ctrl - ...
4,12,Hobart,AU,55.00,light intensity shower rain,-42.88,147.33,St Ives Apartments
...,...,...,...,...,...,...,...,...
125,545,Gwanda,ZW,73.02,few clouds,-20.93,29.00,Mafax Homeways
126,547,Ginir,ET,64.54,scattered clouds,7.13,40.70,Sura Dare Village
127,557,Madera,US,73.00,clear sky,37.17,-119.83,NaN
128,563,Qandala,SO,73.85,broken clouds,11.47,49.87,NaN
129,564,Kapit,MY,71.40,broken clouds,2.02,112.93,Hotel Meligai Kapit

In [3]:
# Dataframe for 4 selected cities
starting_city = ["Pacific Grove"]
visiting_city = ["Flagstaff", "Saint George", "Laguna"]
destination1 = visiting_city[0]
destination2 = visiting_city[1]
destination3 = visiting_city[2]


Itinerary_df = WeatherVacation_df[WeatherVacation_df["City"].isin(starting_city) | WeatherVacation_df["City"].isin(visiting_city)]
Itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,11,Laguna,US,69.01,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Ctrl - ...
54,212,Flagstaff,US,70.00,clear sky,35.20,-111.65,Drury Inn & Suites Flagstaff
57,231,Saint George,US,57.99,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
99,415,Pacific Grove,US,72.00,clear sky,36.62,-121.92,Lovers Point Inn

In [4]:
# Assign the coordinates to be passed to gmap parameters.
coordinates_starting = (Itinerary_df[Itinerary_df["City"]== "Pacific Grove"].Lat.values[0], Itinerary_df[Itinerary_df["City"]== "Pacific Grove"].Lng.values[0])
coordinates_destiny1 = (Itinerary_df[Itinerary_df["City"]== "Flagstaff"].Lat.values[0], Itinerary_df[Itinerary_df["City"]== "Flagstaff"].Lng.values[0])
coordinates_destiny2 = (Itinerary_df[Itinerary_df["City"]== "Saint George"].Lat.values[0], Itinerary_df[Itinerary_df["City"]== "Saint George"].Lng.values[0])
coordinates_ending = (Itinerary_df[Itinerary_df["City"]== "Laguna"].Lat.values[0], Itinerary_df[Itinerary_df["City"]== "Laguna"].Lng.values[0])
coordinates_ending

(38.42, -121.42)

In [5]:
# Display pop up format template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in Itinerary_df.iterrows()]

# Add a pop-up marker for each city.
locations = Itinerary_df[["Lat", "Lng"]]
max_temp = Itinerary_df["Max Temp"]
fig = gmaps.figure(center=coordinates_starting, zoom_level=5)



marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Directions layer
fig = gmaps.figure(center=coordinates_starting, zoom_level=5)
starttoend = gmaps.directions_layer(coordinates_starting, coordinates_ending, 
                                    waypoints=[coordinates_destiny1, coordinates_destiny2], travel_mode='DRIVING')
fig.add_layer(starttoend)
fig

Figure(layout=FigureLayout(height='420px'))